.page{
    max-width: 100%;
    font-family: 'Exo 2', Arial, sans-serif;
    position: relative;
    color: white;
    background-image: url(../../images/background2.jpg);
    background-size: cover;
    text-rendering: optimizeLegibility;
}


@media screen and (max-width:750px) {
    .page{
        background: #131315;
    }
}
