.header__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    margin: 0;
    margin-left: 10px;
}

@media screen and (max-width:750px) {
    .header__title{
        font-size: 28px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
}